.progress-analisis-container {
    min-height: 50vh;
    margin-top: 40px;
}

/* WRAPPER */
.progress-analisis-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    transform: translateY(-10px);
}

/* STEP */
.analisis-step {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LABEL */
.analisis-step .label {
    margin-top: 10px;
    font-weight: 500;
    color: #7a6a63;
    width: 150px;
}

.analisis-step .label.active-text {
    font-weight: 700;
    color: #5a453f;
    animation: fadeText 0.8s ease;
}

@keyframes fadeText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ICON */
.analisis-icon {
    width: 65px;
    height: 65px;
    background-color: #a68072;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
    transition: 0.3s ease;
}

.analisis-icon.active {
    background-color: #8c6b60;
    animation: popIn 0.6s ease forwards;
}

.analisis-icon.big {
    width: 75px !important;
    height: 75px !important;
    font-size: 32px !important;
    border: 4px solid #eddcd8;
}

/* POP ANIMATION */
@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0.3;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* LINE */
.analisis-line {
    width: 160px;
    height: 4px;
    background-color: #d7c6bd;
    margin-top: -3rem;
    transition: 0.4s ease;
}

.analisis-line.filled {
    background-color: #8c6b60;
    animation: fillLine 1.5s ease forwards;
}

@keyframes fillLine {
    from {
        width: 0;
    }

    to {
        width: 160px;
    }
}

/* Responsive */
@media (max-width: 768px) {
    .progress-analisis-wrapper {
        flex-direction: column;
        gap: 50px;
    }

    .analisis-line {
        width: 4px;
        height: 80px;
        margin: 0;
    }

    @keyframes fillLine {
        from {
            height: 0;
        }

        to {
            height: 80px;
        }
    }
}